body{
   
}
a{
    text-decoration: none;
    color: black;
}
.shop{
    text-align: center;
}
.shop a{
   
    color: rgb(121, 82, 82);
    font-size: 20px;
}
.cart{
    float: right;  
    color:gray;
}
.nav-bar a{

margin: 25px;
color: rgb(112, 90, 90);
}
.nav-bar{
    text-align: center;
    margin: 20px;
}
.outerwear{
    text-align: center;
    margin-bottom: 30px;
}
.outerwear a{
    border: 2px solid rgb(78, 72, 72);
    padding: 9px;
}
.shirt-wear{
    text-align: center;
    margin-bottom: 30px;
}
.shirt-wear a{
    border: 2px solid rgb(78, 72, 72);
    padding: 9px;
}
.tshirt{
    display: flex;
}
footer{
    text-align: center;
    margin: 1.3em;
}
footer span{
    background-color: rgb(32, 30, 30);
    color: rgb(131, 124, 113);
    padding: 9px;
}
footer p{
    color: rgb(100, 78, 78);
}